/* THIN: 100
   EXTRA_LIGHT: 200
   LIGHT: 300
   REGULAR: 400
   BOOK: 450
   MEDIUM: 500
   SEMI_BOLD: 600
   BOLD: 700
   ULTRA_BOLD: 800
   BLACK: 900
   ULTRA_BLACK: 950 */

/******************************************************************************
 *
 * Bagnard font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Bagnard';
    src: url('Bagnard.woff2') format('woff2'),
        url('Bagnard.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/******************************************************************************
 *
 * Blackout 2AM font family.
 *
 *****************************************************************************/
 @font-face {
    font-family: 'Blackout 2AM';
    src: url('Blackout-TwoAM.woff2') format('woff2'),
        url('Blackout-TwoAM.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/******************************************************************************
 *
 * Blackout Midnight font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Blackout Midnight';
    src: url('Blackout-Midnight.woff2') format('woff2'),
        url('Blackout-Midnight.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/******************************************************************************
 *
 * Blackout Sunrise font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Blackout Sunrise';
    src: url('Blackout-Sunrise.woff2') format('woff2'),
        url('Blackout-Sunrise.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/******************************************************************************
 *
 * Butler font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Butler';
    src: url('Butler-UltraLight.woff2') format('woff2'),
        url('Butler-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Light.woff2') format('woff2'),
        url('Butler-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler.woff2') format('woff2'),
        url('Butler.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Medium.woff2') format('woff2'),
        url('Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Bold.woff2') format('woff2'),
        url('Butler-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-ExtraBold.woff2') format('woff2'),
        url('Butler-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('Butler-Black.woff2') format('woff2'),
        url('Butler-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/******************************************************************************
 *
 * Butler Stencil font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-UltraLight.woff2') format('woff2'),
        url('ButlerStencil-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Light.woff2') format('woff2'),
        url('ButlerStencil-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil.woff2') format('woff2'),
        url('ButlerStencil.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

 @font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Medium.woff2') format('woff2'),
        url('ButlerStencil-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Bold.woff2') format('woff2'),
        url('ButlerStencil-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-ExtraBold.woff2') format('woff2'),
        url('ButlerStencil-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler Stencil';
    src: url('ButlerStencil-Black.woff2') format('woff2'),
        url('ButlerStencil-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/******************************************************************************
 *
 * Cooper Hewitt font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Thin.woff2') format('woff2'),
        url('CooperHewitt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-ThinItalic.woff2') format('woff2'),
        url('CooperHewitt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Light.woff2') format('woff2'),
        url('CooperHewitt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-LightItalic.woff2') format('woff2'),
        url('CooperHewitt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt.woff2') format('woff2'),
        url('CooperHewitt.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Italic.woff2') format('woff2'),
        url('CooperHewitt-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Medium.woff2') format('woff2'),
        url('CooperHewitt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-MediumItalic.woff2') format('woff2'),
        url('CooperHewitt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Semibold.woff2') format('woff2'),
        url('CooperHewitt-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-SemiboldItalic.woff2') format('woff2'),
        url('CooperHewitt-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Bold.woff2') format('woff2'),
        url('CooperHewitt-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-BoldItalic.woff2') format('woff2'),
        url('CooperHewitt-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-Heavy.woff2') format('woff2'),
        url('CooperHewitt-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('CooperHewitt-HeavyItalic.woff2') format('woff2'),
        url('CooperHewitt-HeavyItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/******************************************************************************
 *
 * Junction font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Junction';
    src: url('Junction-Light.woff2') format('woff2'),
        url('Junction-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Junction';
    src: url('Junction-Regular.woff2') format('woff2'),
        url('Junction-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Junction';
    src: url('Junction-Bold.woff2') format('woff2'),
        url('Junction-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

/******************************************************************************
 *
 * League Gothic font family.
 *
 *****************************************************************************/
 @font-face {
    font-family: 'League Gothic';
    src: url('LeagueGothic-Regular.woff2') format('woff2'),
        url('LeagueGothic-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'League Gothic';
    src: url('LeagueGothic-Italic.woff2') format('woff2'),
        url('LeagueGothic-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'League Gothic';
    src: url('LeagueGothic-Condensed.woff2') format('woff2'),
        url('LeagueGothic-Condensed.woff') format('woff');
    font-weight: 400;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
    font-family: 'League Gothic';
    src: url('LeagueGothic-CondensedItalic.woff2') format('woff2'),
        url('LeagueGothic-CondensedItalic.woff') format('woff');
    font-weight: 400;
	font-style: italic;
	font-stretch: condensed;
}

/******************************************************************************
 *
 * League Mono font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-CondensedThin.woff2') format('woff2'),
        url('LeagueMono-CondensedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-NarrowThin.woff2') format('woff2'),
        url('LeagueMono-NarrowThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-Thin.woff2') format('woff2'),
        url('LeagueMono-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-WideThin.woff2') format('woff2'),
        url('LeagueMono-WideThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-stretch: semi-expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-ExtendedThin.woff2') format('woff2'),
        url('LeagueMono-ExtendedThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-stretch: expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-CondensedUltraLight.woff2') format('woff2'),
        url('LeagueMono-CondensedUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-NarrowUltraLight.woff2') format('woff2'),
        url('LeagueMono-NarrowUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-UltraLight.woff2') format('woff2'),
        url('LeagueMono-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-WideUltraLight.woff2') format('woff2'),
        url('LeagueMono-WideUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-stretch: semi-expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-ExtendedUltraLight.woff2') format('woff2'),
        url('LeagueMono-ExtendedUltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-stretch: expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-CondensedLight.woff2') format('woff2'),
        url('LeagueMono-CondensedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-NarrowLight.woff2') format('woff2'),
        url('LeagueMono-NarrowLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-Light.woff2') format('woff2'),
        url('LeagueMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-WideLight.woff2') format('woff2'),
        url('LeagueMono-WideLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: semi-expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-ExtendedLight.woff2') format('woff2'),
        url('LeagueMono-ExtendedLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-stretch: expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-CondensedRegular.woff2') format('woff2'),
        url('LeagueMono-CondensedRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-NarrowRegular.woff2') format('woff2'),
        url('LeagueMono-NarrowRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-Regular.woff2') format('woff2'),
        url('LeagueMono-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-WideRegular.woff2') format('woff2'),
        url('LeagueMono-WideRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: semi-expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-ExtendedRegular.woff2') format('woff2'),
        url('LeagueMono-ExtendedRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-CondensedMedium.woff2') format('woff2'),
        url('LeagueMono-CondensedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-NarrowMedium.woff2') format('woff2'),
        url('LeagueMono-NarrowMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-Medium.woff2') format('woff2'),
        url('LeagueMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-WideMedium.woff2') format('woff2'),
        url('LeagueMono-WideMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: semi-expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-ExtendedMedium.woff2') format('woff2'),
        url('LeagueMono-ExtendedMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-stretch: expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-CondensedSemiBold.woff2') format('woff2'),
        url('LeagueMono-CondensedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-NarrowSemiBold.woff2') format('woff2'),
        url('LeagueMono-NarrowSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-SemiBold.woff2') format('woff2'),
        url('LeagueMono-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-WideSemiBold.woff2') format('woff2'),
        url('LeagueMono-WideSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: semi-expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-ExtendedSemiBold.woff2') format('woff2'),
        url('LeagueMono-ExtendedSemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-stretch: expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-CondensedBold.woff2') format('woff2'),
        url('LeagueMono-CondensedBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-NarrowBold.woff2') format('woff2'),
        url('LeagueMono-NarrowBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-Bold.woff2') format('woff2'),
        url('LeagueMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-WideBold.woff2') format('woff2'),
        url('LeagueMono-WideBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: semi-expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-ExtendedBold.woff2') format('woff2'),
        url('LeagueMono-ExtendedBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-stretch: expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-CondensedExtraBold.woff2') format('woff2'),
        url('LeagueMono-CondensedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-NarrowExtraBold.woff2') format('woff2'),
        url('LeagueMono-NarrowExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: semi-condensed;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-ExtraBold.woff2') format('woff2'),
        url('LeagueMono-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-WideExtraBold.woff2') format('woff2'),
        url('LeagueMono-WideExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: semi-expanded;
}

@font-face {
    font-family: 'League Mono';
    src: url('LeagueMono-ExtendedExtraBold.woff2') format('woff2'),
        url('LeagueMono-ExtendedExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-stretch: expanded;
}

/******************************************************************************
 *
 * League Spartan font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-Light.woff2') format('woff2'),
        url('LeagueSpartan-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-Regular.woff2') format('woff2'),
        url('LeagueSpartan-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-Medium.woff2') format('woff2'),
        url('LeagueSpartan-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-SemiBold.woff2') format('woff2'),
        url('LeagueSpartan-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.woff2') format('woff2'),
        url('LeagueSpartan-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-ExtraBold.woff2') format('woff2'),
        url('LeagueSpartan-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-Black.woff2') format('woff2'),
        url('LeagueSpartan-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

/******************************************************************************
 *
 * Liberation Mono font family.
 *
 *****************************************************************************/
 @font-face {
    font-family: 'Liberation Mono';
    src: url('LiberationMono.woff2') format('woff2'),
        url('LiberationMono.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('LiberationMono-Italic.woff2') format('woff2'),
        url('LiberationMono-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('LiberationMono-Bold.woff2') format('woff2'),
        url('LiberationMono-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Mono';
    src: url('LiberationMono-BoldItalic.woff2') format('woff2'),
        url('LiberationMono-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/******************************************************************************
 *
 * Liberation Sans font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans.woff2') format('woff2'),
        url('LiberationSans.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-Italic.woff2') format('woff2'),
        url('LiberationSans-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-Bold.woff2') format('woff2'),
        url('LiberationSans-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Sans';
    src: url('LiberationSans-BoldItalic.woff2') format('woff2'),
        url('LiberationSans-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/******************************************************************************
 *
 * Liberation Serif font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Liberation Serif';
    src: url('LiberationSerif.woff2') format('woff2'),
        url('LiberationSerif.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('LiberationSerif-Italic.woff2') format('woff2'),
        url('LiberationSerif-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('LiberationSerif-Bold.woff2') format('woff2'),
        url('LiberationSerif-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Liberation Serif';
    src: url('LiberationSerif-BoldItalic.woff2') format('woff2'),
        url('LiberationSerif-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

/******************************************************************************
 *
 * Linden Hill font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Linden Hill';
    src: url('LindenHill.woff2') format('woff2'),
        url('LindenHill.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Linden Hill';
    src: url('LindenHill-Italic.woff2') format('woff2'),
        url('LindenHill-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

/******************************************************************************
 *
 * Metropolis font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Thin.woff2') format('woff2'),
        url('Metropolis-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-ThinItalic.woff2') format('woff2'),
        url('Metropolis-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-ExtraLight.woff2') format('woff2'),
        url('Metropolis-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-ExtraLightItalic.woff2') format('woff2'),
        url('Metropolis-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Light.woff2') format('woff2'),
        url('Metropolis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-LightItalic.woff2') format('woff2'),
        url('Metropolis-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Regular.woff2') format('woff2'),
        url('Metropolis-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-RegularItalic.woff2') format('woff2'),
        url('Metropolis-RegularItalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Medium.woff2') format('woff2'),
        url('Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-MediumItalic.woff2') format('woff2'),
        url('Metropolis-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-SemiBold.woff2') format('woff2'),
        url('Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis Semi';
    src: url('Metropolis-SemiBoldItalic.woff2') format('woff2'),
        url('Metropolis-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Bold.woff2') format('woff2'),
        url('Metropolis-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-BoldItalic.woff2') format('woff2'),
        url('Metropolis-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-ExtraBold.woff2') format('woff2'),
        url('Metropolis-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-ExtraBoldItalic.woff2') format('woff2'),
        url('Metropolis-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-Black.woff2') format('woff2'),
        url('Metropolis-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Metropolis';
    src: url('Metropolis-BlackItalic.woff2') format('woff2'),
        url('Metropolis-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

/******************************************************************************
 *
 * Sorts Mill Goudy font family.
 *
 *****************************************************************************/
@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('OFLGoudyStM.woff2') format('woff2'),
        url('OFLGoudyStM.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sorts Mill Goudy';
    src: url('OFLGoudyStM-Italic.woff2') format('woff2'),
        url('OFLGoudyStM-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}
