/* THIN: 100
   EXTRA_LIGHT: 200
   LIGHT: 300
   REGULAR: 400
   BOOK: 450
   MEDIUM: 500
   SEMI_BOLD: 600
   BOLD: 700
   ULTRA_BOLD: 800
   BLACK: 900
   ULTRA_BLACK: 950 */

/******************************************************************************
 *
 * Apfel Grotezk font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Apfel Grotezk';
	src: url('ApfelGrotezk-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Apfel Grotezk';
	src: url('ApfelGrotezk-Fett.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

/******************************************************************************
 *
 * Apfel Grotezk Brukt font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Apfel Grotezk Brukt';
	src: url('ApfelGrotezk-Brukt.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/******************************************************************************
 *
 * AUTHENTIC Sans font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url('AUTHENTICSans-60.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url('AUTHENTICSans-90.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url('AUTHENTICSans-130.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url('AUTHENTICSans-150.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url('AUTHENTICSans-Condensed-60.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url('AUTHENTICSans-Condensed-90.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url('AUTHENTICSans-Condensed-130.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'AUTHENTIC Sans';
	src: url('AUTHENTICSans-Condensed-150.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
	font-stretch: condensed;
}

/******************************************************************************
 *
 * Bagnard font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Bagnard';
	src: url('Bagnard.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/******************************************************************************
 *
 * Blackout 2AM font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Blackout 2AM';
	src: url('Blackout-TwoAM.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/******************************************************************************
 *
 * Blackout Midnight font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Blackout Midnight';
	src: url('Blackout-Midnight.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/******************************************************************************
 *
 * Blackout Sunrise font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Blackout Sunrise';
	src: url('Blackout-Sunrise.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/******************************************************************************
 *
 * Butler font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Butler';
	src: url('Butler-UltraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url('Butler-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url('Butler.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url('Butler-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url('Butler-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url('Butler-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Butler';
	src: url('Butler-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

/******************************************************************************
 *
 * Butler Stencil font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Butler Stencil';
	src: url('ButlerStencil-UltraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('ButlerStencil-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('ButlerStencil.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('ButlerStencil-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('ButlerStencil-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('ButlerStencil-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Butler Stencil';
	src: url('ButlerStencil-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

/******************************************************************************
 *
 * Cooper Hewitt font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-SemiboldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-Heavy.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Cooper Hewitt';
	src: url('CooperHewitt-HeavyItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

/******************************************************************************
 *
 * Golos UI font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Golos UI';
	src: url('golos-ui_vf.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/******************************************************************************
 *
 * Junction font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Junction';
	src: url('Junction-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Junction';
	src: url('Junction-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Junction';
	src: url('Junction-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

/******************************************************************************
 *
 * League Mono font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-CondensedThin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-NarrowThin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-stretch: semi-condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-WideThin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-stretch: semi-expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-ExtendedThin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-stretch: expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-CondensedUltraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-NarrowUltraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-stretch: semi-condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-UltraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-WideUltraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-stretch: semi-expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-ExtendedUltraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
	font-stretch: expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-CondensedLight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-NarrowLight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-stretch: semi-condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-WideLight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-stretch: semi-expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-ExtendedLight.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
	font-stretch: expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-CondensedRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-NarrowRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: semi-condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-WideRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: semi-expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-ExtendedRegular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-stretch: expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-CondensedMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-NarrowMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-stretch: semi-condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-WideMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-stretch: semi-expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-ExtendedMedium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-stretch: expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-CondensedSemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-NarrowSemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-stretch: semi-condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-WideSemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-stretch: semi-expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-ExtendedSemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-stretch: expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-CondensedBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-NarrowBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-stretch: semi-condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-WideBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-stretch: semi-expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-ExtendedBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-stretch: expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-CondensedExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-stretch: condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-NarrowExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-stretch: semi-condensed;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-WideExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-stretch: semi-expanded;
}

@font-face {
	font-family: 'League Mono';
	src: url('LeagueMono-ExtendedExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-stretch: expanded;
}

/******************************************************************************
 *
 * Liberation Mono font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Liberation Mono';
	src: url('LiberationMono.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation Mono';
	src: url('LiberationMono-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Liberation Mono';
	src: url('LiberationMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation Mono';
	src: url('LiberationMono-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

/******************************************************************************
 *
 * Liberation Sans font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Liberation Sans';
	src: url('LiberationSans.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation Sans';
	src: url('LiberationSans-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Liberation Sans';
	src: url('LiberationSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation Sans';
	src: url('LiberationSans-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

/******************************************************************************
 *
 * Liberation Serif font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Liberation Serif';
	src: url('LiberationSerif.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation Serif';
	src: url('LiberationSerif-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Liberation Serif';
	src: url('LiberationSerif-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Liberation Serif';
	src: url('LiberationSerif-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

/******************************************************************************
 *
 * Linden Hill font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Linden Hill';
	src: url('LindenHill.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Linden Hill';
	src: url('LindenHill-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

/******************************************************************************
 *
 * Metropolis font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis Semi';
	src: url('Metropolis-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Metropolis';
	src: url('Metropolis-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

/******************************************************************************
 *
 * Open Sauce One font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce One';
	src: url('OpenSauceOne-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

/******************************************************************************
 *
 * Open Sauce Sans font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Sans';
	src: url('OpenSauceSans-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

/******************************************************************************
 *
 * Open Sauce Two font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-Black.woff2') format('woff2');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sauce Two';
	src: url('OpenSauceTwo-BlackItalic.woff2') format('woff2');
	font-weight: 900;
	font-style: italic;
}

/******************************************************************************
 *
 * PT Root UI font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'PT Root UI';
	src: url('pt-root-ui_vf.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/******************************************************************************
 *
 * SuperDuper font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'SuperDuper';
	src: url('AH_SuperDuper-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SuperDuper';
	src: url('AH_SuperDuper-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SuperDuper';
	src: url('AH_SuperDuper-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SuperDuper';
	src: url('AH_SuperDuper-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

/******************************************************************************
 *
 * Victor Mono font family.
 *
 *****************************************************************************/
@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-Thin.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-ThinItalic.woff2') format('woff2');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-ThinOblique.woff2') format('woff2');
	font-weight: 100;
	font-style: oblique;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-ExtraLight.woff2') format('woff2');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-ExtraLightItalic.woff2') format('woff2');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-ExtraLightOblique.woff2') format('woff2');
	font-weight: 200;
	font-style: oblique;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-LightOblique.woff2') format('woff2');
	font-weight: 300;
	font-style: oblique;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-Italic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-Oblique.woff2') format('woff2');
	font-weight: 400;
	font-style: oblique;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-MediumItalic.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-MediumOblique.woff2') format('woff2');
	font-weight: 500;
	font-style: oblique;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-SemiBold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-SemiBoldItalic.woff2') format('woff2');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-SemiBoldOblique.woff2') format('woff2');
	font-weight: 600;
	font-style: oblique;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-BoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Victor Mono';
	src: url('VictorMono-BoldOblique.woff2') format('woff2');
	font-weight: 700;
	font-style: oblique;
}
