.global-settings-row {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
	justify-content: space-between;
	padding: 0 1em 22px;
}

.global-settings-row input {
	font-weight: 400;
}

.global-settings-row fieldset {
	min-width: 80px;
}

label,
fieldset,
legend,
.details,
.font-title {
	font-size: 0.5rem;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.details button {
	background: none;
	border: 0;
	color: inherit;
	font: inherit;
	margin: 0;
	padding: 0;
	text-decoration: underline;
	text-transform: inherit;
}

input[type='radio'] {
	margin: 0 4px;
	position: relative;
}

.global-settings input[type='number'] {
	margin: 4px 0 0;
}

.probe {
	clip-path: inset(50%);
	clip: rect(0 0 0 0);
	display: flex;
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	touch-action: none;
	white-space: nowrap;
	width: 1px;
}

.alignment-options,
.list-mode-options {
	align-items: center;
	border: 0;
	display: flex;
	padding: 0;
}

:is(.alignment-options, .list-mode-options) legend {
	margin-bottom: 4px;
}

:is(.alignment-options, .list-mode-options) label {
	cursor: pointer;
	display: grid;
	font-size: 22px;
}

label > * {
	grid-area: 1 / 1;
}

.no-fonts-warning {
	color: rgba(0, 0, 0, 0.5);
	font-style: italic;
	justify-self: center;
	margin: auto;
	padding-bottom: 2em;
	text-align: center;
}
.no-fonts-warning strong {
	display: block;
	font-size: 2em;
	font-style: normal;
}

.radio-icon {
	padding: 2px;
}

.radio-icon.selected {
	background: #ffdc00;
}
